[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pyinspect = "*"
beautifulsoup4 = "*"
icecream = "*"
python-dotenv = "*"
pdoc = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.8.10"
